:root{
    background-color: #00643c;
    color: white;
}

a{
    color: white;
}

button{
    background-color: #00643c;
    color: white;
}

img {
    width: 25%;
}

.portfolio-desc{
    /* visibility: collapse; */
    font-size:0px;
    margin:5px;
    padding:3px;

}

.portfolio-img {
    width:0px;
    
}

.centered {
    text-align: center;
}

.nav p a {
    box-sizing: border-box;
    float: left;
    /* display: inline-block; */
    padding: 10px 13.991%;
}

.links p {
    display: inline-block;
}

.pageon {
    border: purple solid 10px;
}

.noton {
    border: #00643c solid 10px;
}

.break {
    clear:both;
}